<div class="flex justify-content-end flex-wrap">
    <div class="flex align-items-center justify-content-center border-round m-5">
        <p-button *ngIf="id" label="Pp ca e hover" (click)="onPatientClick(id)"></p-button>
        <p-button label="Add patient" (click)="openAddDialog()"></p-button>
        <p-dialog header="Add patient" [modal]="true" [(visible)]="isAddDialogVisible" [style]="{ width: '70rem' }">
            <form [formGroup]="patientForm">
                <div class="form-group">
                    <label>Name</label>
                    <input pInputText [formControl]="patientForm.controls['name']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input pInputText [formControl]="patientForm.controls['phoneNumber']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input pInputText [formControl]="patientForm.controls['address']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-control">
                        <option value="0">M</option>
                        <option value="1">F</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dateOfBirth" class="form-control">
                </div>
                <div class="p-dialog-footer mt-2">
                    <button pButton type="button" label="Add" class="p-button-success"
                        (click)="onAddButtonClick()"></button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>
