<p-toast></p-toast>
<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="registerForm">
        <div class="text-center mb-4">
          <h1 class="mb-3">PillsTracking</h1>
          <h6 class="mb-3"> for Doctors and Admins</h6>
        </div>
        <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"
          class="input-text"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['email']" [label]="'Email Address'"
          class="input-text"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'"
          class="input-text"></app-text-input>
        <div class="d-grid">
          <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit" (click)="registerDoctor()">Sign in as doctor</button>
          <button [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit" (click)="registerAdmin()">Sign in as admin</button>
        </div>
      </form>
    </div>
  </div>
