<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form>
        <div class="text-center mb-4">
          <h1 class="mb-3">Login</h1>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="Email">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control mt-3" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid">
          <button class="btn mt-3" type="submit">Log in</button>
        </div>
      </form>
    </div>
  </div>