<p-dialog header="Prescription's details" [modal]="true" [(visible)]="isPrescriptionDialogVisible"
    [style]="{ width: '25rem' }">
    <div *ngIf="detailedPrescription">
        <h3>{{ detailedPrescription.name }}</h3>
        <p><strong>Duration:</strong> {{ detailedPrescription.duration }} days</p>
        <p><strong>Creation Date:</strong> {{ detailedPrescription.creationDate | date:'dd/MM/yyyy' }}</p>
        <div *ngIf="detailedPrescription.drugs && detailedPrescription.drugs.length > 0">
          <h4>Drugs</h4>
          <ul>
            <li *ngFor="let drug of detailedPrescription.drugs">
              <p><strong>Name:</strong> {{ drug.name }}</p>
              <p><strong>Concentration:</strong> {{ drug.concentration }} mg</p>
              <p><strong>Dosage:</strong> {{ drug.dosage }} quantity</p>
              <p><strong>Frequency:</strong> every {{ drug.frequency }} hours</p>
            </li>
          </ul>
        </div>
      </div>
</p-dialog>
<p-dialog header="Add prescription" [modal]="true" [(visible)]="isAddPrescriptionDialogVisible"
    [style]="{ width: '75rem' }">
    <span>For a drug to be saved into the prescriptions, all values must be completed.</span>
    <form [formGroup]="prescriptionForm" class="form">
        <div class="form-group m">
            <label>Name</label>
            <input pInputText [formControl]="prescriptionForm.controls['name']" class="form-control">
        </div>
        <div class="form-group m">
            <label>Duration(in days)</label>
            <input pInputNumber [formControl]="prescriptionForm.controls['duration']" class="form-control">
        </div>
        <div class="form-group m">
            <label>Creation Date</label>
            <input type="date" [formControl]="prescriptionForm.controls['creationDate']" class="form-control">
        </div>
        <div class="form-group m">
            <p>Drug no.1</p>
            <div formGroupName="drug1">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration(mg)</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.2</p>
            <div formGroupName="drug2">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.3</p>
            <div formGroupName="drug3">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.4</p>
            <div formGroupName="drug4">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.5</p>
            <div formGroupName="drug5">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.6</p>
            <div formGroupName="drug6">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.7</p>
            <div formGroupName="drug7">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.8</p>
            <div formGroupName="drug8">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.9</p>
            <div formGroupName="drug9">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <select formControlName="frequency" class="form-control">
                            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }} hours</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-dialog-footer mt-2">
            <button pButton type="button" label="Submit" class="p-button-success"
                (click)="onSubmitButtonClick()"></button>
        </div>
    </form>
</p-dialog>
<div class="page">
    <div class="flex justify-content-end flex-wrap">
        <p-button label="Add new prescription" class="add-pp" (click)="onAddPrescriptionClick()" />
    </div>
    <div class="card" *ngIf="patient">
        <p-card>
            <h1>{{patient.name}}</h1>
            <p-divider></p-divider>
            <div class="flex justify-content-between">
                <div>
                    <p>Phone number: {{patient.phoneNumber}}</p>
                    <p>Address: {{patient.address}}</p>
                    <p>Gender: {{getGenderDisplay(patient.gender)}}</p>
                    <p>Birth date: {{patient.dateOfBirth | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div id="table">
                <p-table #dt [value]="patient.prescriptions">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Prescription's name</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td colspan="4" *ngIf="patient.prescriptions.length === 0">This patient has currently no
                                prescriptions</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-prescription>
                        <tr class="clickable-row" (click)="onPrescriptionClick(prescription)">
                            <td> {{ prescription.name }} </td>
                            <td>
                                <button pButton type="button" icon="pi pi-trash" label="Delete prescription"
                                 [text]="true" class="p-button-rounded p-button-danger" (click)="onDeletePrescription(prescription.id, $event)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </div>
</div>