<p-dialog header="Prescription's details" [modal]="true" [(visible)]="isPrescriptionDialogVisible"
    [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="isPrescriptionDialogVisible = false" />
        <p-button label="Save" (click)="isPrescriptionDialogVisible = false" />
    </div>
</p-dialog>
<p-dialog header="Add prescription" [modal]="true" [(visible)]="isAddPrescriptionDialogVisible"
    [style]="{ width: '75rem' }">
    <span>For a drug to be saved into the prescriptions, all values must be completed.</span>
    <form [formGroup]="prescriptionForm" class="form">
        <div class="form-group m">
            <label>Duration</label>
            <input pInputNumber [formControl]="prescriptionForm.controls['duration']" class="form-control">
        </div>
        <div class="form-group m">
            <p>Drug no.1</p>
            <div formGroupName="drug1">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.2</p>
            <div formGroupName="drug2">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.3</p>
            <div formGroupName="drug3">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.4</p>
            <div formGroupName="drug4">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.5</p>
            <div formGroupName="drug5">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.6</p>
            <div formGroupName="drug6">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.7</p>
            <div formGroupName="drug7">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.8</p>
            <div formGroupName="drug8">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group m">
            <p>Drug no.9</p>
            <div formGroupName="drug9">
                <div class="form-group row">
                    <div class="col-3">
                        <label>Name</label>
                        <input pInputText formControlName="name" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Concentration</label>
                        <input pInputNumber formControlName="concentration" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Dosage</label>
                        <input pInputNumber formControlName="dosage" class="form-control">
                    </div>
                    <div class="col-3">
                        <label>Frequency</label>
                        <input pInputNumber formControlName="frequency" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="p-dialog-footer mt-2">
            <button pButton type="button" label="Submit" class="p-button-success"
                (click)="onSubmitButtonClick()"></button>
        </div>
    </form>
</p-dialog>
<div class="page">
    <div class="flex justify-content-end flex-wrap">
        <p-button label="Add new prescription" class="add-pp" (click)="onAddPrescriptionClick()" />
    </div>
    <div class="card" *ngIf="patient">
        <p-card>
            <h1>{{patient.name}}</h1>
            <p-divider></p-divider>
            <div class="flex justify-content-between">
                <div>
                    <p>Phone number: {{patient.phoneNumber}}</p>
                    <p>Address: {{patient.address}}</p>
                    <p>Gender: {{getGenderDisplay(patient.gender)}}</p>
                    <p>Birth date: {{patient.dateOfBirth | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div id="table">
                <p-table #dt [value]="patient.prescriptions">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Prescription's id</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td colspan="4" *ngIf="patient.prescriptions.length === 0">This patient has currently no
                                prescriptions</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-prescription>
                        <tr class="clickable-row" (click)="onPrescriptionClick()">
                            <td> {{ prescription.id }} </td>
                            <td class="clickable-row">
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-card>
    </div>
</div>