<div class="flex justify-content-between flex-wrap header">
    <div class="title align-items-center">
        <h3>Doctors</h3>
    </div>
    <div class="flex align-items-center justify-content-center border-round">
        <p-button label="Add doctor" (click)="openAddDialog()" class="add"></p-button>
        <p-dialog header="Add doctor" [modal]="true" [(visible)]="isAddDialogVisible" [style]="{ width: '80%' }">
            <form [formGroup]="doctorForm">
                <div class="form-group">
                    <label>Name</label>
                    <input pInputText [formControl]="doctorForm.controls['name']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input pInputText [formControl]="doctorForm.controls['email']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Specialization</label>
                    <input pInputText [formControl]="doctorForm.controls['specialization']" class="form-control">
                </div>
                <div class="p-dialog-footer mt-2">
                    <button pButton type="button" label="Add" class="p-button-success"
                        (click)="onAddButtonClick()"></button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>
<div class="flex justify-content-center table" *ngIf="doctors && doctors.length > 0">
    <p-table [value]="doctors" [tableStyle]="{ 'min-width': '70rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Specialization</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doctor>
            <tr>
                <td class="info">{{ doctor.name }}</td>
                <td class="info">{{ doctor.email }}</td>
                <td class="info">{{ doctor.specialization }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex justify-content-center" *ngIf="doctors && doctors.length === 0">
    <p>Currently no doctor is added in the app</p>
</div>
<div class="flex justify-content-between flex-wrap header">
    <div class="title align-items-center">
        <h3>Admins</h3>
    </div>
    <div class="flex align-items-center justify-content-center border-round">
        <p-button label="Add admin" (click)="openAddAdminDialog()" class="add"></p-button>
        <p-dialog header="Add admin" [modal]="true" [(visible)]="isAddAdminDialogVisible" [style]="{ width: '80%' }">
            <form [formGroup]="adminForm">
                <div class="form-group">
                    <label>Name</label>
                    <input pInputText [formControl]="doctorForm.controls['name']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input pInputText [formControl]="doctorForm.controls['email']" class="form-control">
                </div>
                <div class="p-dialog-footer mt-2">
                    <button pButton type="button" label="Add" class="p-button-success"
                        (click)="onAddAdminButtonClick()"></button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>
<div class="flex justify-content-center table" *ngIf="admins && admins.length > 0">
    <p-table [value]="admins" [tableStyle]="{ 'min-width': '70rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admin>
            <tr>
                <td class="info">{{ admin.name }}</td>
                <td class="info">{{ admin.email }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="flex justify-content-center" *ngIf="admins && admins.length === 0">
    <p>Currently no admin is added in the app</p>
</div>