<div class="flex justify-content-end flex-wrap">
    <div class="flex align-items-center justify-content-center border-round m-5">
        <p-button label="Add doctor" (click)="openAddDialog()"></p-button>
        <p-dialog header="Add doctor" [modal]="true" [(visible)]="isAddDialogVisible" [style]="{ width: '70rem' }">
            <form [formGroup]="doctorForm">
                <div class="form-group">
                    <label>Name</label>
                    <input pInputText [formControl]="doctorForm.controls['name']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input pInputText [formControl]="doctorForm.controls['email']" class="form-control">
                </div>
                <div class="form-group">
                    <label>Specialization</label>
                    <input pInputText [formControl]="doctorForm.controls['specialization']" class="form-control">
                </div>
                <div class="p-dialog-footer mt-2">
                    <button pButton type="button" label="Add" class="p-button-success"
                        (click)="onAddButtonClick()"></button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>